
html, body {
    height: 100%;
    margin: 0;
    top: 10;
    display: flex;
    flex-direction: column;
}

/* Sticky Navbar */
.navbar {
    position: sticky;    
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    z-index: 1030;     
 }

/* Push content below navbar */
main {
    flex: 1;
    padding-top: 70px;   
}

/* Sticky Footer */
footer { 
    bottom: 0;
    left: 0;
    width: 100%;
}


main {
    margin-bottom: 60px; 
}
