.card {
    border-radius: 12px;
}

.card-body {
    padding: 2rem;
}

img.rounded-circle {
    height: 140px;
    border: 3px solid #000000;
    object-fit: cover;
    border-radius: 0;
}

p {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

.btn {
    margin-top: 1rem;
}
